Flask==0.10.1
Flask-RESTful==0.2.11
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
aniso8601==0.82
argparse==1.2.1
cssselect==0.9.1
gunicorn==18.0
itsdangerous==0.23
lxml==3.3.0
newrelic==2.10.1.9
pyquery==1.2.8
pytz==2013.9
requests==2.2.1
six==1.5.2
wsgiref==0.1.2
