aniso8601==0.82
certifi==2018.1.18
chardet==3.0.4
cssselect==0.9.1
Flask==0.10.1
Flask-RESTful==0.2.11
Flask-SSLify==0.1.5
gunicorn==18.0
idna==2.6
itsdangerous==0.23
Jinja2==2.7.2
lxml==4.1.1
MarkupSafe==0.18
newrelic==2.106.1.88
pyquery==1.4.0
pytz==2013.9
requests==2.18.4
six==1.5.2
urllib3==1.22
Werkzeug==0.9.4
