<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deckbox API (non-official).">
    <meta name="author" content="Stéphane Reiss">

    <title>Deckbox API - non-official</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/jumbotron-narrow.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/api">API</a></li>
        </ul>
        <h3 class="text-muted">Deckbox API (non-official)</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">
          This application emulates a deckbox API.<br />
          It's based on a HTML parser that will get user public information from Deckbox and returns it as json objects.<br />
          This is not the official Deckbox API.<br />
        </p>

        <p>
            <a class="btn btn-success" href="/api/users/deckbox_api/" role="button">Try it</a>
            <a class="btn btn-default" href="http://deckbox.org/" target="_blank" role="button">Visit Deckbox</a>
        </p>

      </div>

      <h3>Documentation</h3>

      <div class="documentation">
        {% for resource in api_doc_list %}
          <div class="panel panel-default">
              <span class="http-method label label-primary pull-left">{{ resource.method }}</span>
              <span class="try-it pull-right">
                <a class="btn btn-sm btn-default" href="{{ resource.uri|replace(":username", test_data["username"])|replace(":set_id", test_data["set_id"])|replace(":cardname", test_data["cardname"]) }}" role="button">
                  Try it
                </a>
              </span>
              <div class="panel-heading">
                <span>{{ resource.uri }}</span>
                <span class="pull-right text-info">{{ resource.description }}</span>
              </div>
              {% if resource.parameters %}
                  <div class="panel-body">
                      <table class="table table-condensed">
                          <thead>
                            <tr>
                              <th style="width: 100px;">Parameter</th>
                              <th style="width: 70px;">Type</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for parameter in resource.parameters %}
                            <tr>
                              <td>?{{ parameter.name }}</td>
                              <td>{{ parameter.type }}</td>
                              <td>{{ parameter.description }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              {% endif %}
            </div>
        {% endfor %}
      </div>

    </div>

  </body>
</html>
