<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Deckbox API (non-official).">
    <meta name="author" content="Stéphane Reiss">

    <title>Deckbox API - non-official</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/jumbotron-narrow.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/api">API</a></li>
        </ul>
        <h3 class="text-muted">Deckbox API (non-official)</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">
          Deckbox is a card collection manager. <br />
          With a smart and responsive user interface for adding cards, you can quickly create an Inventory, Tradelist and Wishlist.<br />
        </p>

        <p><a class="btn btn-primary" href="http://deckbox.org/" role="button">Visit Deckbox</a></p>

      </div>

      <div>
        <p class="lead">
          This application is an attempt to emulate a deckbox API.<br />
          It's based on a HTML parser that will retreive all public information from deckbox.<br />
          This is not the official deckbox API.<br />
        </p>

        <p><a class="btn btn-default" href="/api" role="button">Try it</a></p>
      </div>

    </div>

  </body>
</html>
